<div class="forgot-password-container">
  <form >
    <h2>Forgot Password</h2>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" id="email" class="form-control" name="email" [(ngModel)]="email" required tooltip="Enter your registered email">
    </div>
    <div class="mb-3"> OR
    </div>
    <div class="mb-3">
      <label for="mobile" class="form-label">Mobile</label>
      <input type="text" id="mobile" class="form-control" name="mobile" [(ngModel)]="mobile" required
        tooltip="Enter your registered mobile number">
    </div>
     @if(error){
    <div class="alert alert-danger">{{ error }}
    </div>
    }
    <button type="button" class="btn btn-primary w-100" (click)="resetPassword()">Reset Password</button>
  </form>
</div>